<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
    <title>Assets-Service</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" /> <!-- ICON GOOGLE -->
    <link href="https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&display=swap" rel="stylesheet"> <!-- ตัวหนังสือ -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sideber.js') }}"></script>
</head>

<body>
    <aside class="sidebar">
        <button class="sidebar-toggle">
            <span class="material-symbols-outlined"> menu </span>
        </button>
        <br>
        <div class="sidebar-header">
            <img src="{{ url_for('static', filename='img/favicon.png') }}" alt="logo">
            <h2>Assets-Service</h2>
        </div>
        <ul class="sidebar-links">
            <h4>
                <span>Main Menu</span>
                <div class="menu-separator"></div>
            </h4>
            <li>
                <a href='/dashboard'>
                <span class="material-symbols-outlined"> dashboard </span>Dashboard</a>
            </li>
            <h4>
                <span>Asset Menu</span>
                <div class="menu-separator"></div>
            </h4>
            <li>
                <a href='/asset'><span class="material-symbols-outlined">table</span>รายการทรัพย์สิน</a>
            </li>
            <li>
                <a href='/add_asset'><span class="material-symbols-outlined">note_add</span>เพิ่มทรัพย์สิน</a>
            </li>
            <li>
                <a href='/add_type'><span class="material-symbols-outlined">format_list_bulleted</span>เพิ่มประเภท</a>
            </li>
            <li>
                <a href='/add_location'><span class="material-symbols-outlined">map</span>เพิ่มสถานที่</a>
            </li>
            <li>
                <a href='/export'><span class="material-symbols-outlined">ios_share</span>ส่งออกรายงาน</a>
            </li>
            <h4>
                <span>System Menu</span>
                <div class="menu-separator"></div>
            </h4>
            <li>
                <a href='/logout'><span class="material-symbols-outlined">logout</span>ออกจากระบบ</a>
            </li>
        </ul>
    </aside>


    <div class="container2">
        <h3> Dashboard </h3>
        <br>
        <div class="boxchat-container">
            <div class="boxchat boxchat-office">
                <span class="material-symbols-outlined">keyboard</span>
                <h3>บัญชีเครื่องมือใช้สำนักงาน</h3>
                <div class="boxchat-content">
                    <p>{{ total__COUNT_office }}</p>
                </div>
            </div>
            <div class="boxchat boxchat-tool">
                <span class="material-symbols-outlined">home_repair_service</span>
                <h3>บัญชีเครื่องมือและอุปกรณ์</h3>
                <div class="boxchat-content">
                    <p>{{ total_COUNT_tool }}</p>
                </div>
            </div>
            <div class="boxchat boxchat-car">
                <span class="material-symbols-outlined">local_shipping</span>
                <h3>บัญชียานพาหนะ</h3>
                <div class="boxchat-content">
                    <p>{{ fetch_COUNT_car }}</p>
                </div>
            </div>
        </div>
        <div class="boxchat-container">
            <div class="boxchat boxchat-tower">
                <span class="material-symbols-outlined">apartment</span>
                <h3>อาคารถาวร</h3>
                <div class="boxchat-content">
                    <p>{{ total_COUNT_tower }}</p>
                </div>
            </div>
            <div class="boxchat boxchat-add">
                <span class="material-symbols-outlined">construction</span>
                <h3>ส่วนต่อเติมอาคาร</h3>
                <div class="boxchat-content">
                    <p>{{ total_COUNT_add }}</p>
                </div>
            </div>
            <div class="boxchat boxchat-total">
                <span class="material-symbols-outlined">paid</span>
                <h3>มูลค่าทรัพย์สินรวม</h3>
                <div class="boxchat-content">
                    <p>{{ total_COUNT_Total }}</p>
                </div>
            </div>
        </div>

        
        <div class="chart-row">
            <div id="chart-container">
                <div id="chart"></div>
            </div>
            <div id="chart-container">
                <div id="chart2"></div>
            </div>
        </div>
        <br>
    </div>
    <div class="footer-line">
            <p>Sopon-Product Co.,Ltd.</p>
            <p>Develop by Thanapurt Sopon | Last Update 2025</p>
    </div>

    <script>
        window.chartData = {
            topics: {{ topics|tojson }},
            counts: {{ counts|tojson }}
        };
    </script>

</body>
</html>
