<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
    <title>Assets-Service</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" /> <!-- ICON GOOGLE -->
    <link href="https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&display=swap" rel="stylesheet"> <!-- ตัวหนังสือ -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/detail.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.0/dist/sweetalert2.all.min.js"></script> <!-- JS DETELE -->
    <script src="{{ url_for('static', filename='js/Detele.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/detail.js') }}" defer></script>
</head>
<body>
    <div class="container">
        <h3 class="header-title">รายละเอียดของทรัพย์สิน</h3>
        <h3 class="header-subtitle">บริษัท อเมริกัน-ยูโรเปี้ยน โปรดัก จำกัด</h3>
        <table>
            <tr>
                <th>วันที่บันทึกรายการ</th>
                <td>{{ data['AS_Save_Time'] if data['AS_Save_Time'] else '-' }}</td>
                <th>วันที่ซื้อ</th>
                <td>{{ data['AS_Date'] if data['AS_Date'] else '-' }}<br>( {{ data['elapsed_time'] }} )</td>
            </tr>
            <tr>
                <th>รหัสทรัพย์สิน</th>
                <td>{{ data['Asset_Code'] if data['Asset_Code'] else '-' }}</td>
                <th>มูลค่าทรัพย์สิน</th>
                <td>{{ data['Asset_Value'] | format_currency }}</td>               
            </tr>
            <tr>
                <th>ปี</th>
                <td>{{ data['YR'] if data['YR'] else '-' }}</td>
                <th>ชื่อบริษัทที่ซื้อสินค้า</th>
                <td>{{ data['AS_Store'] if data['AS_Store'] else '-' }}</td>
            </tr>
            <tr>
                <th>บัญชีเลขที่</th>
                <td>{{ data['Account_Num'] if data['Account_Num'] else '-' }}</td>
                <th>หมายเหตุ</th>
                <td>{{ data['AS_Note'] if data['AS_Note'] else '-' }}</td>
            </tr>
            <tr>
                <th>ประเภท</th>
                <td>{{ data['AS_Type_Name'] if data['AS_Type_Name'] else '-' }}</td>
                <th>แผนก</th>
                <td>{{ data['Department'] if data['Department'] else '-' }}</td>
            </tr>
            <tr>
                <th>สถานที่</th>
                <td>{{ data['AS_Location_Name'] if data['AS_Location_Name'] else '-' }}</td>
                <th>ผู้ใช้</th>
                <td>{{ data['AS_User'] if data['AS_User'] else '-' }}</td>
            </tr>
            <tr>
                <th>ชื่อทรัพย์สิน</th>
                <td>{{ data['Asset_Name'] if data['Asset_Name'] else '-' }}</td>
                <th>หมายเลขซีเรียล (S/N)</th>
                <td>{{ data['AS_SerialNum'] if data['AS_SerialNum'] else '-' }}</td>
            </tr>
            <tr>
                <th>รายละเอียดเพิ่มเติม</th>
                <td>{{ data['AS_Detail'] if data['AS_Detail'] else '-' }}</td>
                <th>ชื่อผู้บันทึก</th>
                <td>{{ data['AS_Save_Name'] if data['AS_Save_Name'] else '-' }}</td>
            </tr>
        </table>
        
        <br>
        <br>
        
        <table>
            <tr>
                <th>สถานะ</th>
                <td>
                    <span class="status-light {{ 'active' if data['Status'] == 'ยังไม่ตัดค่าเสื่อม' else 'inactive' if data['Status'] == 'ตัดค่าเสื่อมแล้ว' else 'off' }}"></span>
                    {{ data['Status'] if data['Status'] else '-' }}
                </td>
                <th>ไฟล์แนบ</th>
                <td>
                    {% if data['AS_File'] %}
                        <a href="{{ url_for('static', filename='data/com.webp') }}" target="_blank" class="file-link">
                            <span class="material-symbols-outlined file-icon">file_present</span>
                            <span class="file-name">{{ data['AS_File'] }}</span>
                        </a>
                    {% else %}
                        <span class="no-file">- ไม่มีไฟล์แนบ -</span>
                    {% endif %}
                </td>
        </table>
        <br>
        <br>
        <div class="button-group">
            <form action="/delete_asset/{{ data['id'] }}" method="POST" style="display:inline;" class="delete-form">
                <button type="button" onclick="confirmDelete(this)" class="btn delete-btn">
                    <span class="material-symbols-outlined">delete</span> ลบข้อมูล
                </button>
            </form>
            <form action="{{ url_for('edit_asset', id=data['id']) }}" method="get">
                <button type="submit" class="btn edit-btn"><span class="material-symbols-outlined">build</span> แก้ไขข้อมูล</button>
            </form>
            <button onclick="window.print();" class="btn print-btn"><span class="material-symbols-outlined">print</span> พิมพ์ข้อมูล</button>
            <button href="javascript:void(0);" onclick="goBack()" class="btn back-btn">
                <span class="material-symbols-outlined">arrow_back</span> ย้อนกลับ 
            </button>
        </div>
    </div>
    
    <div class="container">
        <div class="content">
            <h3 class="header-title">บัญชีค่าเสื่อมราคาทรัพย์สิน</h3>

            <div class="asset-details">
                <p><strong>บัญชีค่าเสื่อมราคา :</strong> {{data['AS_Type_Name']}} <span class="account-number">บัญชีเลขที่ {{ data['Account_Num'] }}</span></p>
                <p><strong>สินทรัพย์ :</strong> {{data['Asset_Name']}} <span class="purchase-date">วันที่ซื้อ {{ data['AS_Date'] }}</span></p>
                <p><strong>มูลค่าทรัพย์สิน :</strong> {{ data['Asset_Value'] | format_currency }}
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="text-align: center;">ปี</th>
                        {% set month_names = ['ม.ค.', 'ก.พ.', 'มี.ค.', 'เม.ย.', 'พ.ค.', 'มิ.ย.', 'ก.ค.', 'ส.ค.', 'ก.ย.', 'ต.ค.', 'พ.ย.', 'ธ.ค.'] %}
                        {% for month in range(12) %}
                            <th style="text-align: center;">{{ month_names[month] }}</th>
                        {% endfor %}
                        <th style="text-align: center;">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for year, data in depreciation_data.items() %}
                        <tr>
                            <td style="text-align: center;">{{ year }}</td>
                            {% set total = 0 %}
                            {% for value in data['months'] %}
                                {% if value != '-' %}
                                    {% set numeric_value = value %}
                                {% else %}
                                    {% set numeric_value = 0 %}
                                {% endif %}
                                <td style="text-align: center;">{{ numeric_value }}</td>
                                {% set total = total + (numeric_value | float if numeric_value != '-' else 0) %}
                            {% endfor %}
                            <td style="text-align: center;">{{ data['total'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
            <table>
                <tr>
                    <td style="text-align: center;">
                        <strong>รวมมูลค่าทั้งสิน : {{ grand_total }}</strong>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="container">
        <h3 class="header-title">ไฟล์แนบ</h3>
        <br>
        <div class="file-display" style="text-align: center;">
            {% if data['AS_File'] %}
                <img src="{{ url_for('static', filename='data/com.webp') }}" alt="ไฟล์แนบ" class="attached-image">
            {% else %}
                <span class="no-file">- ไม่มีไฟล์แนบ -</span>
            {% endif %}
        </div>
    </div>
    
    <div class="footer-line">
            <p>Tama-Sopon Demo Product Co.,Ltd.</p>
            <p>Develop by Thanapurt Sopon | Last Update 2025</p>
    </div>
</body>
</html>